<div class="row d-flex justify-content-center align-items-center  bg-primary" style="min-height: 100vh;">
    <div class="col-sm-8">
        <div class="row">
            <form class="row shadow g-3 p-3 mb-5 needs-validation bg-body rounded-3" novalidate method="post">
                <legend>Dirección</legend>
                <div class="col-md-8 position-relative">
                    <label for="dir_calle" class="form-label">Calle principal</label>
                    <input type="text" class="form-control" id="dir_calle" name="dir_calle"
                        value="{{dir_calle}}" required>
                    <div class="invalid-tooltip">
                        Ingresar nombre de la calle
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="dir_nro_casa" class="form-label">Numero de casa</label>
                    <input type="text" class="form-control" id="dir_nro_casa" name="dir_nro_casa" required
                        value="{{dir_nro_casa}}">
                    <div class="invalid-tooltip">
                        Ingresar numero de la casa
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="dir_extra" class="form-label">Calle secundaria (opcional)</label>
                    <input type="text" class="form-control" id="dir_extra" name="dir_extra"
                        value="{{dir_extra}}">
                </div>

                <div class="col-md-6">
                    <label for="dir_barrio" class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="dir_barrio" required value="{{dir_barrio}}">
                    <div class="invalid-tooltip">
                        Ingresar nombre del barrio
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="ciudad_id" class="form-label">Ciudad</label>
                    <select name="ciudad_id" id="ciudad_id" class="form-select" required>
                        
                    </select>
                    
                </div>
                <div class="col-md-12" style="display: none;">
                    <label for="dir_ciudad" class="form-label">Latitud</label>
                    <input type="text" class="form-control" id="dir_gps_lat" name="dir_gps_lat" value="{{dir_gps_lat}}">
                </div>
                <div class="col-md-12" style="display: none;">
                    <label for="dir_ciudad" class="form-label">Longitud</label>
                    <input type="text" class="form-control" id="dir_gps_lon" name="dir_gps_lon" value="{{dir_gps_lon}}">
                </div>
                <div class="col-md-12">
                    <label for="dir_referencia" class="form-label">Referencias</label>
                    <textarea class="form-control" id="dir_referencia" name="dir_referencia"
                        rows="5">{{dir_referencia}}</textarea>
                </div>

                <div class="col-md-12">
                    <label for="map" class="form-label">Indicar ubicación</label>
                    <div id="map" class="border" style="height: 350px;"></div>
                </div>

                <div class="col-12 pt-5">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-dark btn-lg" href="/form/datos_comercio"><i class="bi bi-arrow-left"></i> Atrás</a>
                        <button class="btn btn-primary btn-lg" type="submit">Siguiente <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var map = L.map('map').setView([-25.3067264, -57.5307776], 15);
    var marker = L.marker([-25.3067264, -57.5307776], { draggable: true }).addTo(map);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZGFtaWRlbGVvbiIsImEiOiJja3pndXRobDMweXc5MnduMnB2c202cmEzIn0.H_C4H3pG0jckrR9oYiiDuQ'
    }).addTo(map);

    function onMapClick(e) {
        marker.setLatLng(e.latlng);
        $("#dir_gps_lat").val(e.latlng.lat);
        $("#dir_gps_lon").val(e.latlng.lng);
    }

    map.on('click', onMapClick);

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
    function showPosition(position) {
        $("#dir_gps_lat").val(position.coords.latitude);
        $("#dir_gps_lon").val(position.coords.longitude);
        map.setView([position.coords.latitude, position.coords.longitude]);
        marker.setLatLng([position.coords.latitude, position.coords.longitude]);
    }

    $("#ciudad_id").load("/ciudades");
    $("#ciudad_id").val("{{ciudad_id}}")
</script>